body {
	background: slategray;
	font-family: "Trebuchet MS",Symbola,"DejaVu sans",sans-serif;
}
header {
	background: wheat;
	text-align: center;
}
footer {
	text-align: center;
	clear: both;
}
aside {
	background: burlywood;
	text-align: center;
	float: left;
	font-size: 0.9em;
	width: 9%;
	min-width: 8em;
	word-wrap: break-word;
	padding: 1px;
}
nav {
	text-align: left;
}
.vcard {
	/*border: solid;*/
	/*border-width: 1px;*/
	margin: 1px;
	font-size: 0.75em;
	background: wheat;
}
.vcard img {
	width: 90%;
}
section {
	float: right;
	width: 87%;
}
article {
	background: cornsilk;
	padding-bottom: 1%;
}
p {
	padding: 1%;
}
